
*{
    margin: 0;
}









body {
    line-height: 1.5;
    font-family: sans-serif;
    font-size: clamp(1.125rem,2vw,1.25rem);
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.math-letters{
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-style: italic;
}

.about__title{
margin-top: 5rem;
}

.title {
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 5rem; 
}

.s1,
.s2
 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.s1{transform: translateZ(-5px) scale(1.5);
}
.s2{transform: translateZ(-10px) scale(2);
}

section {
    font-size: 2rem;
    padding: 2rem;
    background-color: white;
    color: black;
}

h2{ margin-bottom: 4rem;
    text-align: center;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
    color: #365486;

}

li,
p,
ul{ 
    list-style: none;
    font-size: 1.5rem;
    animation: fade 3s linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}



.logos {
    height: 100%;
    width: 100%;
    object-fit: cover;
}




@keyframes fade {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }

}

@keyframes reveal {
    from{
        opacity: 0;
        transform: translateX(-100%) ;
    }
    to {opacity: 1;
        transform: translateX(0);
    }
}



@keyframes pulse {
    100% {
        opacity: 0;
        transform: 
            scale(2.5);  
    }
}




        
    

.about{
    text-align: center  
}


.about__description {
    margin-bottom: 5rem ;
}


.about__container {
    
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
    
}


.about__container img {
    position: relative;
    
}


.about__container img {
    max-width: 600px;
}






.mapamundo {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1em;
    position: relative;
}
.mapamundo img {
    width: 100%;
    height: 100%;
    object-fit: contian;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 90% cover 50%;
  
    

}


.pin{
    background: #4362f8;
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    font-size: clamp(0.825rem,2vw,1.30rem);
    /* border: 1px solid red; */
}
.pin::before {
    content: '';
    background: #4362f8;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;
    /* border: 1px solid red; */
}
.mapamundo span{
    opacity: 0;
}
.pin span:active{
    opacity: 1;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    background: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 50%;
    font-size: clamp(0.825rem,2vw,1.30rem);
}


/* .pin span:hover, .pin span:active {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 3em;
    padding: 0.3rem 0.6rem;
    font-size: clamp(0.825rem,2vw,1.30rem);
} */
.usa {
    top: 56%;
    left: 21%;
}
.france {
    top:51.2% ;
    left:47.5%;
    
}

.argentina{
    top: 79%;
    left:31%;

}


.chile{ 
    top:80%;
    left: 28%;
}

.canada{
    top: 48%;
    left: 19%;
}







.speaker__container{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
    
}



.speaker-image img{
    /* max-width: 300px;
    height: 250px; */
    object-fit: cover;
    margin-top: 3rem;
   
   


}
.speaker-image p { 
    background-color: white;
    top: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
 
    
  }

.speaker-description{
    /* opacity: 0; */
    background:linear-gradient(90deg, rgba(204,226,255,1) 0%, rgba(245,235,235,1) 49%);
    border-radius: 50%;
    font-size: 1.5rem;
  

    
}





.sponsors-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    left: 50%;
    
} 


.sponsors-container div{
    height: 100%;
    transform: scale(0.7);
    flex: 1;
    min-width: 250px;
   
    /* border: 1px solid red; */
  
}



.sponsorslong-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    left: 50%;
    
} 


.sponsorslong-container div{
    height: 100%;
    transform: scale(0.7);
    flex: 1;
    min-width: 250px;
   
     /* border: 1px solid red;  */
} 


/* .speaker-image:hover .speaker-description{
    opacity: 1;
} */

.organizador-nombre{
    text-align: center
}
.organizador-datos{
    list-style: none;
    padding: 0;
    text-align: center;
}


.organizador-container{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    left: 50%;
    


}
.organizador-container div{
    font-size: 1.5rem;
    /* border: 1px solid red; */
    flex: 1;
    min-width: 250px;
    max-width: 250px;
}





footer {
    background-color: #365486;
    height: 400px;
    width: 100%;
}

footer h2, footer p {
    animation:none;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}






/* xss */

@media (min-width: 375px) {
    .about__container {
      max-width: 375px;
    }
    .about__container img {
        max-width:  375px;
        
    }

    .speaker__container img {
        max-width:  375px;
    }


    .speaker__container {
        max-width:  375px;
    }

  



    .sponsors-container img {
        max-width:  375px;
        
    }
    
    
    .usa {
        top: 63%;
        left: 21%;
    }
    .france {
        top:57.4% ;
        left:47.5%;
        
    }
    
    .argentina{
        top: 79%;
        left:31%;
    
    }
    
    
    .chile{ 
        top:80%;
        left: 28%;
    }
    
    .canada{
        top: 57%;
        left: 19%;
    }


  }

/* xs */
@media (min-width: 475px) {
    .about__container {
      max-width: 475px;
    }
    .about__container img {
        max-width: 300px;
        
    }

    .sponsors-container img {
        max-width:  300px;
        
    }




    .usa {
        top: 59%;
        left: 21%;
    }
    .france {
        top:55.4% ;
        left:47.5%;
        
    }
    
    .argentina{
        top: 79%;
        left:31%;
    
    }
    
    
    .chile{ 
        top:80%;
        left: 28%;
    }
    
    .canada{
        top: 53%;
        left: 19%;
    }


    
  }
  
  /* sm */
  @media (min-width: 640px) {
    .about__container {
      max-width: 640px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      'image1 content1' 
      'content2 image2 '
      'image3 content3';
      place-items: center;
    }
    .about__container img {
        max-width: 380px;
        
    }

    .speaker__container{
      max-width: 640px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      'foto1 foto2'
      'content1 content2'
      'foto3 content3';
      place-items: center;
    }


    .speaker__container img {
        max-width: 300px;
    }



    .sponsors-container  {
        max-width:  640px;
        
    }

    
    .usa {
        top: 56%;
        left: 21%;
    }
    .france {
        top:51.2% ;
        left:47.5%;
        
    }
    
    .argentina{
        top: 79%;
        left:31%;
    
    }
    
    
    .chile{ 
        top:80%;
        left: 28%;
    }
    
    .canada{
        top: 48%;
        left: 19%;
    }

    
    
  }
  





  /* md */
  @media (min-width: 768px) {
    .about__container {
      max-width: 768px;
    }
    .about__container img {
        max-width: 380px;
        
    }

   



    .speaker__container{
        max-width: 768px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'foto1 foto2'
        'content1 content2'
        'foto3 content3';
        place-items: center;
      }

    
  }
  
  /* lg */
  @media (min-width: 1024px) {
    .about__container {
      max-width: 1024px;
    }

    .about__container img {
        max-width: 640px;
        
    }
  
    .section {
      margin-top: 10rem;
    }


    .speaker__container{
        max-width: 1024px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'foto1 foto2'
        'content1 content2'
        'foto3 content3';
        place-items: center;
      }
    

      .organizador-container{
        max-width: 1024px;
      }

      .sponsors-container  {
        max-width:  1024px;
        
    }

    .sponsorslong-container {
        max-width: 768px;
    }
  }
  
  /* xl */
  @media (min-width: 1280px) {
    .about__container {
      max-width: 1280px;
    }

    .about__container img {
        max-width: 640px;
        
    }


  }
  
  /* 2xl */
  @media (min-width: 1536px) {
    .about__container {
      max-width: 1536px;
    }
    .about__container img {
        max-width: 640px;
        
    }
  }


  .about__image1 {
    grid-area: image1;
  }

  .about__image2 {
    grid-area: image2;
  }

  .about__image3 {
    grid-area: image3;
  }

  .about__content1 {
    grid-area: content1;
  }

  .about__content2 {
    grid-area: content2;
  }

  .about__content3 {
    grid-area: content3;
  }














