* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.time {
  font-weight: bold;
}

.talk {
  font-weight: bold;
  padding: 0;
  border: none;
  background-color: inherit;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  color: rgb(2, 31, 37);
  cursor: pointer;
  text-align: left;
  transition: 0.4s;
  font-size: inherit;
  transition: color 0.25s ease 0s;
}

.active,
.talk:hover {
  color: rgb(102, 68, 255);
  cursor: pointer;
}

.panel {
  /* padding-right: 30px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

p {
  text-align: justify;
}

.event {
  padding: 0px 0px 1.5rem;
  border-bottom: 3px solid #bbb;
}

.tablink {
  width: 18%;
  display: inline-block;
}

.tabs {
  text-align: center;
}

.topnav {
  margin: 0;
  padding: 0;
  transition: all 0.15s;
  text-align: center;
  margin-bottom: 5rem;
  
}

.topnav a {
  display: inline-block;
  color: #365486;
  padding: min(2vw, 15px);
  transition: all 0.15s;
  text-decoration: none;
  font-size: x-large;
  width: 13rem;
}


.sponsors-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    left: 50%;
    
} 


.sponsors-container div{
    height: 100%;
    transform: scale(0.7);
    flex: 1;
    min-width: 250px;
   
    /* border: 1px solid red; */
  
}


.organizador-nombre{
    text-align: center
}
.organizador-datos{
    list-style: none;
    padding: 0;
    text-align: center;
}








footer {
    background-color: #365486;
    height: 400px;
    width: 100%;
}

footer h2, footer p {
    animation:none;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

----------------------------------------------------------------------------------------
  body {
  line-height: 1.5;
  font-family: sans-serif;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  z-index: -1;
}

.math-letters {
  font-family: "Computer Modern";
  font-style: italic;
}

.about__container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}



.title {
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 5rem;
}

.s1,
.s2 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: white;
  color: black;
}

h2 {
  margin-bottom: 4rem;
  text-align: center;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  color: #365486;
}

li,
p,
ul {
  font-size: 1.5rem;
}

.logos {
  align-items: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}




@keyframes fade {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.about {
  text-align: center;
}

footer {
  background-color: #365486;
  height: 400px;
  width: 100%;
}

footer h2,
footer p {
  animation: none;
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
}

/* xss */

/* xss */

@media (min-width: 375px) {
  .about__container {
    max-width: 375px;
  }
  .about__container img {
    max-width: 330px;

  }

  .speaker__container img {
    max-width: 375px;
  }

  .speaker__container {
    max-width: 375px;
  }

  .sponsors-container img {
    max-width: 375px;
  }
  .table{
    overflow: auto;
   } 



}

/* xs */
@media (min-width: 475px) {
  .about__container {
    max-width: 475px;
  }
  .about__container img {
    max-width: 300px;
    padding: 1rem;
  }

  .sponsors-container img {
    max-width: 300px;
  }
 
}

/* sm */
@media (min-width: 640px) {
  .about__container {
    max-width: 640px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image1 content1"
      "content2 image2 "
      "image3 content3";
    place-items: center;
  }
  .about__container img {
    max-width: 380px;
    padding: 2rem;
  }

  .speaker__container {
    max-width: 640px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "foto1 foto2"
      "content1 content2"
      "foto3 content3";
    place-items: center;
  }

  .speaker__container img {
    max-width: 300px;
  }

  .sponsors-container {
    max-width: 640px;
  }
  .table{
    overflow: hidden;
   } 
}

/* md */
@media (min-width: 768px) {
  .about__container {
    max-width: 768px;
  }
  .about__container img {
    max-width: 380px;
  }

  .speaker__container {
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "foto1 foto2"
      "content1 content2"
      "foto3 content3";
    place-items: center;
  }
}

/* lg */
@media (min-width: 1024px) {
  .about__container {
    max-width: 1024px;
  }

  .about__container img {
    max-width: 380px;
  }

 

  .speaker__container {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "foto1 foto2"
      "content1 content2"
      "foto3 content3";
    place-items: center;
  }

  .organizador-container {
    max-width: 1024px;
  }

  .sponsors-container {
    max-width: 1024px;
  }

  .sponsorslong-container {
    max-width: 768px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .about__container {
    max-width: 1280px;
  }

  .about__container img {
    max-width: 640px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .about__container {
    max-width: 1536px;
  }
  .about__container img {
    max-width: 640px;
  }
}

.about__image1 {
  grid-area: image1;
}

.about__image2 {
  grid-area: image2;
}

.about__image3 {
  grid-area: image3;
}

.about__content1 {
  grid-area: content1;
}

.about__content2 {
  grid-area: content2;
}

.about__content3 {
  grid-area: content3;
}



.schedule{
  font-size: 1em;
  padding: 10% 10%;
}


.highlight {
 
  background-color: #0057aebd;
  color: rgba(255, 255, 255, 0.97);
}

a {
  color: #006580;
}

code {
  font-family: Menlo, Monaco,
    'Lucida Console', Consolas, monospace;
  font-size: 85%;
  margin: 0;
}
pre {
  margin: 1em 0;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
  background-color: transparent;
  overflow: visible;
}
hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}

table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
}

#TOC li {
  list-style: none;
}
#TOC ul {
  padding-left: 1.3em;
}
#TOC > ul {
  padding-left: 0;
}
#TOC a:not(:hover) {
  text-decoration: none;
}
code {
  white-space: pre-wrap;
}
span.smallcaps {
  font-variant: small-caps;
}
span.underline {
  text-decoration: underline;
}
div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}


.row {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  flex: 50%;
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 3px;
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: center;
}

th{
  border-bottom: 4px solid #bbb;

}
/* tr {
  border-bottom: 2px solid #ddd;
}

tr:nth-child(even) {
  background-color: #E3E4DB;
}
 */

.panel {
  padding: 0 18px;
  display: none;
  background-color: inherit;
}


.wrapper {
  width: 100%;
}
.tabs {
  position: relative;
  margin: rem 0;
  background: #F07167;
   text-align: center;
}
.tabs::before,
.tabs::after {
  content: '';
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
    display: inline-block;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #F07167;
  border-right: 0.125rem solid #F07167;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
  
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #007cf8;
  border: 0.15rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
  width: 100%;
 
}
.tab-switch:checked + .tab-label {
  background: #FFCFBE;
  color: #F07167;
  border-bottom: 0;
  border-right: 0.125rem solid #FFCFBE;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}







.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
visibility: hidden;
color: black;
width: 330%;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
border:3px solid black;
top: 70%;
left : 100%;
margin-left: 0px;
background-color:white;
opacity: 0;
transition: opacity 1s;
}

.tooltip .tooltiptext1 {
visibility: hidden;
color: black;
width: 330%;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
border:3px solid black;
top: 70%;
right: 100%;
margin-left: 0px;
background-color:white;
opacity: 0;
transition: opacity 1s;
}

.logos img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}